.card-count {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-description {
  position: absolute;
  left: 10px;
  bottom: 1px;
}
.card-description p {
  font-size: 18px;
  opacity: 0.7;
  font-weight: lighter;
}
